html,
body,
#root {
    height: 100%
}

#root {
    background: url(/assets/images/background.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.page {
    padding-top: 86px;
}

#weather-today {
    max-width: 408px;
}

@media only screen and (max-width: 767px) {
    #weather-cards {
        max-width: 408px;
    }
}

@media only screen and (min-width: 768px) {
    #weather-cards {
        max-width: 744px;
    }
}